



<% layout('layouts/boilerplate')%>




<div class="row">
    <h1 class="text-center">Visszajelzés szerkesztése</h1>
    <div class="col-6 offset-3">
        <form action="/panaszok/<%=panasz._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="panasz[title]"
                    value="<%=panasz.title %>" required>
                <div class="valid-feedback">
                    Helyes!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="location">Termék</label>
                <input class="form-control" type="text" id="location" name="panasz[termek]"
                    value="<%=panasz.location %>" required>
                <div class="valid-feedback">
                    Helyes!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="image">Kép feltöltése</label>
                <input class="form-control" type="text" id="image" name="panasz[image]"
                    value="<%=panasz.image %>" required>
                <div class="valid-feedback">
                    Helyes!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="price">Vásárlási érték</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="panasz[price]" value="<%=panasz.price %>"
                        required>\<div class="valid-feedback">
                        Helyes!
                    </div>
                </div>
            </div>



            <div class="mb-3">
                <label class="form-label" for="description">Visszajelzés:</label>
                <textarea class="form-control" type="text" id="description" name="panasz[description]"
                    required><%= panasz.description%></textarea>
                <div class="valid-feedback">
                    Helyes!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Visszajelzés frissítése</button>
            </div>
        </form>
        <a href="/panaszok/<%= panasz._id%>">Vissza a visszajelzéshez</a>

    </div>
</div>
